<div class="container">
	<div class="row">
		<div class="col-12 col-sm-6 col-md-4">
			<div class="card">
			  <div class="card-header">
			    Кількість клієнтів
			  </div>
			  <div class="card-body">
			    <h5 class="card-title">Кількість клієнтів</h5>
			    <p class="card-text">{{countClient}}</p>
			  </div>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4">
			<div class="card">
			  <div class="card-header">
			    Кількість активних клієнтів
			  </div>
			  <div class="card-body">
			    <h5 class="card-title">Кількість активних клієнтів</h5>
			    <p class="card-text">{{countActiveClient}}</p>
			  </div>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4">
			<div class="card">
			  <div class="card-header">
			    Кількість клієнтів, яким надано інтернет
			  </div>
			  <div class="card-body">
			    <h5 class="card-title">Кількість клієнтів, яким надано інтернет</h5>
			    <p class="card-text">{{countStateActiveClient}}</p>
			  </div>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4">
			<div class="card">
			  <div class="card-header">
			    Кількість роутерів
			  </div>
			  <div class="card-body">
			    <h5 class="card-title">Кількість роутерів</h5>
			    <p class="card-text">{{countRouters}}</p>
			  </div>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4">
			<div class="card">
			  <div class="card-header">
			    Кількість активних роутерів
			  </div>
			  <div class="card-body">
			    <h5 class="card-title">Кількість активних роутерів</h5>
			    <p class="card-text">{{countActiveRouter}}</p>
			  </div>
			</div>
		</div>
	</div>
</div>