<div class="d-grid gap-2">
    <button type="button" class="btn btn-success" onclick="addRouter()">Додати обладнення</button>
</div>
<br>
<br>
<table id="colores" class="table">
    <thead>
         <tr>
            <th>#</th>
            <th>Назва</th>
            <th>Розміщення</th>
            <th>Стан</th>
            <th>Ip адреса</th>
            <th>Оновити стан</th>
            <th>Редагувати</th>
            <th>Видалити</th>
        </tr>
    </thead>
    <tbody>
        

    </tbody>


</table>

<!-- modal add router -->



<!-- modal edit router -->

<div class="modal fade" id="editRouter" tabindex="-1" aria-labelledby="Редагувати дані обладнення" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editRouterLabel">Редагувати дані обладнення</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="editIdRouter" class="form-label">Номер обладнення</label>
            <input type="text" class="form-control" name="idRouter" required id="editIdRouter" readonly>
          </div>
          <div class="mb-3">
            <label for="editNameRouter" class="form-label">Назва</label>
            <input type="text" class="form-control" name="name" required id="editNameRouter">
          </div>
          <div class="mb-3">
            <label for="editAddressRouter" class="form-label">Адреса розміщення</label>
            <input type="text" class="form-control" name="address" required id="editAddressRouter">
          </div>
          <div class="mb-3">
            <label for="editToken" class="form-label">Токен доступа</label>
            <input type="text" class="form-control" name="token" required id="editToken">
          </div>
          <div class="mb-3">
            <label for="editIpAddress" class="form-label">Ip адреса</label>
            <input type="text" class="form-control" name="ip_address" required id="editIpAddress">
          </div>
          <div class="mb-3">
            <label for="editLoginAccess" class="form-label">Логин</label>
            <input type="text" class="form-control" name="username" required id="editLoginAccess">
          </div>
          <div class="mb-3">
            <label for="editPasswordAccess" class="form-label">Пароль</label>
            <input type="text" class="form-control" name="password" required id="editPasswordAccess">
          </div>
          <input type="submit" style="display:none" id="submit">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
        <button type="button" class="btn btn-primary" onclick="$('#editRouter form #submit').click();">Редагувати</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addRouter" tabindex="-1" aria-labelledby="Додати обладнення" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addRouterLabel">Додати обладнення</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="addNameRouter" class="form-label">Назва</label>
            <input type="text" class="form-control" name="name" required id="addNameRouter">
          </div>
          <div class="mb-3">
            <label for="addAddressRouter" class="form-label">Адреса розміщення</label>
            <input type="text" class="form-control" name="address" required id="addAddressRouter">
          </div>

          <div class="mb-3">
            <label for="addIpAddress" class="form-label">Ip адреса</label>
            <input type="text" class="form-control" name="ip_address" required id="addIpAddress">
          </div>
          <div class="mb-3">
            <label for="addLoginAccess" class="form-label">Логин</label>
            <input type="text" class="form-control" name="username" required id="addLoginAccess">
          </div>
          <div class="mb-3">
            <label for="addPasswordAccess" class="form-label">Пароль</label>
            <input type="text" class="form-control" name="password" required id="addPasswordAccess">
          </div>
          <input type="submit" style="display:none" id="submit">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
        <button type="button" class="btn btn-primary" onclick="$('#addRouter form #submit').click();">Додати</button>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
    var table = $('#colores').DataTable({
    ajax: {
            url: '/ajax/routersListUpdate',
            type: 'POST',
        },
});


setInterval( function () {
    table.ajax.reload( null, false ); // user paging is not reset on reload
}, 5000 );

function showEdit(idRouter){
     $.ajax({
        type: 'POST',
        url: '/ajax/getRouterData',
        data: {"idRouter":idRouter},
        success: function(result){
            if (result){
                result = JSON.parse(result)["data"][0];
                $("#editRouter #editIdRouter").val(result[0]);
                $("#editRouter #editNameRouter").val(result[1]);
                $("#editRouter #editAddressRouter").val(result[2]);
                $("#editRouter #editToken").val(result[3]);
                $("#editRouter #editIpAddress").val(result[4]);
                $("#editRouter #editLoginAccess").val(result[5]);
                $("#editRouter #editPasswordAccess").val(result[6]);
                modalEdit = new bootstrap.Modal('#editRouter');
                modalEdit.show();
            }else{
                alert("Виникла помилка, дані не знайдено");
            }
        },
        error: function(error){
            alert(error);
        }
    });
}
function checkRouter(idRouter){
     $.ajax({
        type: 'POST',
        url: '/ajax/checkRouterActive',
        data: {"idRouter":idRouter},
        success: function(result){
            if(result == "True"){
                alert("Запит на оновлення відправлено");
            }
        },
        error: function(error){
            alert(error);
        }
    });
}
function showRemove(idRouter){
    if(confirm("Ви впевнені, що хочете видалити обладнення? Клієнти, які приєднанні до даного обладнення будуть мати від'єднаний статус")){
         $.ajax({
            type: 'POST',
            url: '/ajax/removeRouterData',
            data: {"idRouter":idRouter},
            success: function(result){
                if(result == "True"){
                    alert("Обладнення видалено");
                }else{
                    alert("Виникла помилка, обладнення не видалене");
                }
                
            },
            error: function(error){
                alert(error);
            }
        });

    }
}
$("#editRouter form").on("submit", function() {
    $.ajax({
        type: 'POST',
        url: '/ajax/editRouterData',
        data: $("#editRouter form").serialize(),
        success: function(result){
            if (result == "True"){
                modalEdit.hide();
            }else{
                alert("Виникла помилка, дані не оновлено");
                modalEdit.hide();
            }
        },
        error: function(error){
            alert(error);
        }
    });
    return(false);
});


function addRouter(){
    $('#addRouter form')[0].reset();
    modalAdd = new bootstrap.Modal('#addRouter');
    modalAdd.show();
}

$("#addRouter form").on("submit", function() {
    $.ajax({
        type: 'POST',
        url: '/ajax/addRouterData',
        data: $("#addRouter form").serialize(),
        success: function(result){
            if (result == "True"){
                modalAdd.hide();
            }else{
                alert(result);
            }
        },
        error: function(error){
            alert(error);
        }
    });
    return(false);
});
</script>
