<div class="d-grid gap-2">
    <button type="button" class="btn btn-success" onclick="loadAllData()">Відобразити всі елементи</button>
</div>
<br>
<br>
<table id="colores" class="table">
    <thead>
         <tr>
            <th>#</th>
            <th>Роутер</th>
            <th>Ім'я задачі</th>
            <th>Стан</th>
            <th>Кількість спроб</th>
            <th>Видалити</th>
        </tr>
    </thead>
    <tbody>
        

    </tbody>


</table>

<script type="text/javascript">
dataParam = 0;    
var table = $('#colores').DataTable({
    ajax: {
            url: '/ajax/synchronizeListUpdate',
            type: 'POST',
            data: function(d) { 
              d.loadAllData = dataParam; 
            },
    },
});


intervalControl = setInterval( function () {
    table.ajax.reload( null, false ); // user paging is not reset on reload
}, 5000 );

function loadAllData(){
    if(confirm("Автоперезавантаження таблиці буде вимкнено. Відобразити всі елементи?")){
        clearInterval(intervalControl);
        dataParam = 1;
        table.ajax.reload( null, false ); 
    } 
}
function showRemove(idTask){
    if(confirm("Ви впевнені, що хочете видалити задачу синхронізації? Це може презвести до помилок в роботі системи")){
         $.ajax({
            type: 'POST',
            url: '/ajax/removeSynchronizeList',
            data: {"idTask":idTask},
            success: function(result){
                if(result == "True"){
                    alert("Задача видалена");
                }else{
                    alert("Виникла помилка, задача не видалена");
                }
                
            },
            error: function(error){
                alert(error);
            }
        });

    }
}
</script>
