<div class="d-grid gap-2">
    <button type="button" class="btn btn-success" onclick="addTariff()">Додати тариф</button>
</div>
<br>
<br>
<table id="colores" class="table">
    <thead>
         <tr>
            <th>#</th>
            <th>Назва</th>
            <th>Ціна</th>
            <th>Стан</th>
            <th>Редагувати</th>
            <th>Видалити</th>
        </tr>
    </thead>
    <tbody>
        

    </tbody>


</table>


<div class="modal fade" id="editTariff" tabindex="-1" aria-labelledby="Редагувати дані тарифу" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editTariffLabel">Редагувати дані тарифу</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form onsubmit="return(false);">
          <div class="mb-3">
            <label for="editIdTariff" class="form-label">Номер тарифу</label>
            <input type="text" class="form-control" name="idTariff" required id="editIdTariff" readonly>
          </div>
          <div class="mb-3">
            <label for="editNameTariff" class="form-label">Назва тарифу</label>
            <input type="text" class="form-control" name="name" required id="editNameTariff" autocomplete="off">
          </div>
          <div class="mb-3">
            <label for="editPriceTariff" class="form-label">Ціна</label>
            <input type="text" class="form-control" name="price" required id="editPriceTariff" autocomplete="off">
          </div>
          <div class="mb-3">
            <label for="editRx" class="form-label">Швидкість прийому</label>
            <input type="text" class="form-control" name="rxLimit" required id="editRx" autocomplete="off">
          </div>
          <div class="mb-3">
            <label for="editTx" class="form-label">Швидкість передачі</label>
            <input type="text" class="form-control" name="txLimit" required id="editTx" autocomplete="off">
          </div>
          <div class="mb-3">
            <label for="editActiveTariff" class="form-label">Актуальність</label>
            <select class="form-control" name="active" id="editActiveTariff" required>
                <option value="1">Тариф активний</option>
                <option value="0">Тариф не активний</option>
            </select>
          </div>
       
          <input type="submit" style="display:none" id="submit">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
        <button type="button" class="btn btn-primary" onclick="$('#editTariff form #submit').click();">Редагувати</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addTariff" tabindex="-1" aria-labelledby="Додати тариф" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addTariffLabel">Додати тариф</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="addNameTariff" class="form-label">Назва тарифу</label>
            <input type="text" class="form-control" name="name" required id="addNameTariff" autocomplete="off">
          </div>
          <div class="mb-3">
            <label for="addPriceTariff" class="form-label">Ціна</label>
            <input type="text" class="form-control" name="price" required id="addPriceTariff" autocomplete="off">
          </div>
          <div class="mb-3">
            <label for="addRx" class="form-label">Швидкість прийому</label>
            <input type="text" class="form-control" name="rxLimit" required id="addRx" autocomplete="off">
          </div>
          <div class="mb-3">
            <label for="addTx" class="form-label">Швидкість передачі</label>
            <input type="text" class="form-control" name="TxLimit" required id="addTx" autocomplete="off">
          </div>
          <div class="mb-3">
            <label for="addActiveTariff" class="form-label">Актуальність</label>
            <select class="form-control" name="active" id="addActiveTariff" required>
                <option value="1">Тариф активний</option>
                <option value="0">Тариф не активний</option>
            </select>
          </div>
          <input type="submit" style="display:none" id="submit">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
        <button type="button" class="btn btn-primary" onclick="$('#addTariff form #submit').click();">Додати</button>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
    var table = $('#colores').DataTable({
    ajax: {
            url: '/ajax/tariffsListUpdate',
            type: 'POST',
        },
});


setInterval( function () {
    table.ajax.reload( null, false ); // user paging is not reset on reload
}, 5000 );

function showEdit(idTariff){
     $.ajax({
        type: 'POST',
        url: '/ajax/getTariffData',
        data: {"idTariff":idTariff},
        success: function(result){
            if (result){
                result = JSON.parse(result)["data"][0];
                $("#editTariff #editIdTariff").val(result[0]);
                $("#editTariff #editNameTariff").val(result[1]);
                $("#editTariff #editPriceTariff").val(result[2]);
                $("#editTariff #editTx").val(result[4]);
                $("#editTariff #editRx").val(result[3]);
                $("#editTariff #editActiveTariff").val(result[5]);
                modalEdit = new bootstrap.Modal('#editTariff');
                modalEdit.show();
            }else{
                alert("Виникла помилка, дані не знайдено");
            }
        },
        error: function(error){
            alert(error);
        }
    });
}
function showRemove(idTariff){
    if(confirm("Ви впевнені, що хочете видалити тариф?")){
         $.ajax({
            type: 'POST',
            url: '/ajax/removeTariffData',
            data: {"idTariff":idTariff},
            success: function(result){
                if(result == "True"){
                    alert("Тариф видалено");
                }else{
                    alert(result);
                }
                
            },
            error: function(error){
                alert(error);
            }
        });

    }
}
$("#editTariff form").on("submit", function() {
     $.ajax({
        type: 'POST',
        url: '/ajax/editTariffData',
        data: $("#editTariff form").serialize(),
        success: function(result){
            if (result == "True"){
                modalEdit.hide();
            }else{
                alert("Виникла помилка, дані не оновлено");
                modalEdit.hide();
            }
        },
        error: function(error){
            alert(error);
        }
    });   
    return(false);
});


function addTariff(){
    $('#addTariff form')[0].reset();
    modalAdd = new bootstrap.Modal('#addTariff');
    modalAdd.show();
}

$("#addTariff form").on("submit", function() {
     $.ajax({
        type: 'POST',
        url: '/ajax/addTariffData',
        data: $("#addTariff form").serialize(),
        success: function(result){
            if (result == "True"){
                modalAdd.hide();
            }else{
                alert("Виникла помилка, дані не додані. Перевірте відсутність введеного логіна в іншиш користувачів.");
            }
        },
        error: function(error){
            alert(error);
        }
    });
    return(false);
});
</script>
